{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>


    <a href="signup">가입하기</a>
    <a href="{% provider_login_url 'naver' %}">네이버 로그인</a>
    {% if user.is_authenticated %}
        <h1>{{ user }}</h1>
    {% else %}
    <h1>naver not logedin</h1>
    {% endif %}
    {{ user }}
    <a href="/user/kakao_login">카카오로그인</a>


</body>
</html>